@import url(reset.css);

.header-logo-container {
	height: 80px;
	background-color: #202020;
	display: flex;
	flex-direction: row; /* это значение по-умолчанию, можно не писать */
	justify-content: space-between;
}


.logo {
	color: white;
	line-height: 70px; /* зачем, если можно центрировать объекты при помощи align-items ? */
	font-family: 'IBM Plex Sans', sans-serif; /* почему бы не задавать шрифты на более глобальном уровне, например для всех заголовков */
}

.menu a {
	color: white;
	line-height: 70px;
	margin-right: 20px;
	font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
	margin-left: 20px;
	font-family: 'IBM Plex Sans', sans-serif;
}

.main-container {
	height: 350px;
	background-color: white;
	border: 5px solid #202020;
	display: flex;
}

.image-container {
	/* написал в html коммент. Подход с 2-мя колонками в данном случае предпочтителен */
	height: 350px;
	background-image: url(../img/Grotowski_Main.jpg);
	background-repeat: no-repeat;
	position: relative;
	left: 10px;
	top: 5px;
	
}
/* лучше здесь обратиться по классу, h2 слишком глобальный селектор, вдруг такой еще появится? */
h2 {
	text-transform: uppercase;
	line-height: 40px;
	letter-spacing: 1px;
	text-align: left;
	padding-top: 70px;
	padding-left:500px;
	font-family: 'IBM Plex Sans', sans-serif;
}

.who {
	height: 120px;
	width: 700px;
	background-color: white;
	border: 2px solid #202020;
	border-radius: 10px;
	position: relative;
	margin: 40px auto;	
}

p {
	padding: 20px 20px; /* лучше написать padding для контейнера who */
	font-family: 'IBM Plex Sans', sans-serif;
}
.section-nav {
	/* написал в html коммент, тут лучше сделать 3 колонки с 2мя блоками внутри */
	height: 200px; /* лучше убрать эту высоту */
	background-color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.section-links {
	background-color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	font-family: 'IBM Plex Sans', sans-serif;
}

.quote {
	height: 130px;
	width: 700px;
	background-color: white;
	border: 2px solid #202020;
	border-radius: 10px;
	position: relative;
	margin: 40px auto;	
	padding-top: 10px;
	font-family: 'IBM Plex Sans', sans-serif;
}

img {
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	float: left; /* если уж float, хотя не рекомендую, то нужно зачищать его при помощи clear: both; */

}

.footer-copyright-container {
	height: 70px;
	background-color: #202020;
	margin-top: 50px; /* я бы делал через flex */
}

.copyright {
	color: white;
	line-height: 70px;
	font-family: 'IBM Plex Sans', sans-serif;
}