@import url(reset.css);

.page {
	font-family: Arial, Helvetica, serif;
}

.header {
	height: 150px;
	background-image: url(../img/logo_title.png);
	background-repeat: no-repeat;
	background-attachment: fixed;	
}

form {
	width: 80%;
	margin:auto;

}

 input, select, textarea {
 	display: block;
	width: 100%;
	font-size: 20px;
	color: #41b0f4;
	border: 1px solid black;
 }

 input {
 	height: 30px;
 }

 label, span {
 	line-height: 3rem;
 	font-size: 20px;
 }

label {
display: block;
}

 input:focus, textarea:focus, select:focus; {
 	outline: none;
 }

input[type="radio"], input[type="checkbox"] {
	display: inline-block;
	width: 20px;	
	vertical-align: middle;
}

textarea {
	height: 50px;
}

input[type="submit"] {
	background-color: #42b0f4;
	color: white;
	height: 50px;
	cursor: pointer;
	margin-bottom: 20px;
	
}

input[type="submit"]:hover {
	background-color: white;
	color: #41b0f4;
}

/*@media screen and (min-width: 720px) {
	form {
		display: flex;
		justify-content: space-between;
	}

	.column {
		width: 49%;
	}
}/*