@import url(reset.css);

.header {
	height: 200px;
	background-image: url(../img/animal_rights.jpg);
	background-position: center;
	display: flex;
	align-content: flex-start;
	text-align: center; 
	
}

.h1 {
	height: 120px;
	width: 800px;
	opacity: 0.8;
	background-color: white;
	margin: auto;

}

h1 {
	font-size: 25px;
	font-weight: bold;
	padding: 8px;
	color: black;
}

h2 {
	font-size: 15px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

p {
	padding: 10px;
}

.blocks {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin: auto; /* т.к. не написано никакой ширины, это бессмысленное свойство */
	padding: 30px; /* в чем идея этого padding? */
}

.block1, .block2, .block3, .block4 {
	height: calc((100% - 90px)/4); /* зачем? Попробуй убрать */
	border: 3px solid lightgreen;
	border-radius: 20px;
	width: 300px;
	margin: 20px; /* круто было бы выровнять по центру, например при помощи margin: 20px auto; */
}
	

.footer {
	height: 50px;
	display: flex;
	align-items: center;
	background-color: #045b2d;
}

.copyright {
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
}

@media screen and (min-width: 600px) {
	.blocks {
		display: flex; /* он уже флекс */
		justify-content: space-around; 
		flex-direction: row;
		flex-wrap: wrap;
		margin: auto; /* это и так было */
	}

	.column {
		width: 35%;
		height: calc((100% - 90px)/4); /*зачем?*/

	}
}